@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600|Poppins:600");

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: none;
  color: #000;
  letter-spacing: normal;
}

h1 {
  font-size: 22px;
  text-align: left;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 16px;
}

#sidebar,
#header-wrapper,
#sidebar ul.topics > li.parent,
#sidebar ul.topics > li.active {
  color: #000;
  background-color: #dae0e3;
}

#sidebar {
  font-size: 100%;
}

#sidebar a {
  color: #000;
}

#sidebar a:hover {
  color: #000;
}

#header-wrapper,
#sidebar hr {
  border-bottom: none;
}

#header {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-align: left;
}

#header p:before {
  content: "";
  display: block;
  width: 122px;
  height: 35px;
  background-image: url("/images/aidon.svg");
  background-repeat: no-repeat;
  margin-bottom: 12px;
}

#sidebar ul li .category-icon {
  color: #000;
}

#sidebar .parent li,
#sidebar .active li {
  border-left: none;
}

a {
  color: #00a7ff;
}

a:hover {
  color: #027abb;
}

#sidebar ul li div a {
  color: #000 !important;
  width: calc(100% - 30px);
}

#sidebar ul li.active > div > a,
#sidebar ul li.active > div > a:hover {
  color: #000 !important;
  background: transparent;
  padding-left: 0rem;
  padding-right: 0rem;
}
#sidebar ul li > div {
  padding-left: 1em;
}

#sidebar ul li.active > div {
  background: rgba(255, 255, 255, 0.5);
}

#sidebar ul.topics {
  margin-left: 0;
}

#sidebar ul li li {
  padding-left: 0;
  text-indent: 0;
}

#sidebar ul li li > div {
  padding-left: 2em;
}

#sidebar ul.topics ul {
  padding-bottom: 0;
}

#sidebar li[data-nav-id="/"] {
  margin-left: 1em;
}

.searchbox {
  background-color: rgba(105, 105, 105, 0.6);
  border: none;
  border-radius: 0;
}

#top-bar {
  background: #efeff0;
}

#body .nav:hover {
  background: rgba(239, 239, 240, 0.5);
}

table {
  font-size: 13px;
  border: none;
}

th {
  background: #f8f9fa;
  border-right: 1px solid #fff;
}

td {
  border-top: 1px solid #efeff0;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

tr:hover {
  background: #f8f9fa;
}

.footline {
  border-top: none;
}
